#include "/home/goo/.cache/wal/minimal.Xresources"

*.color0: base0
*color0:  base0
*.color1: base1
*color1:  base1
*.color2: base2
*color2:  base2
*.color3: base3
*color3:  base3
*.color4: base4
*color4:  base4
*.color5: base5
*color5:  base5
*.color6: base6
*color6:  base6
*.color7: base7
*color7:  base7
*.color8: base8
*color8:  base8
*.color9: base9
*color9:  base9
*.color10: base10
*color10:  base10
*.color11: base11
*color11:  base11
*.color12: base12
*color12:  base12
*.color13: base13
*color13:  base13
*.color14: base14
*color14:  base14
*.color15: base15
*color15: base15
*foreground: base15
*background: base0
*cursor: base15
URxvt.font: xft:Terminus:style=Regular
URxvt.scrollBar: false
URxvt.internalBorder: 40
